<!DOCTYPE html>
<html lang="en">

 <%= require('ejs!./head.ejs')({htmlWebpackPlugin: htmlWebpackPlugin}) %>
  <body>
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5NXTBW3"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

    <%= require('ejs!./header.ejs')({active: 'catalex-sign'}) %>
    
    <div class="top sign-hero">
        <div class="layer"></div>
        <div class="hero-content">
            <img class="hero-logo" src="/images/sign-logo.png" alt="CataLex Sign Logo"/>

            <p class="hero-description first-hero-description">Sign documents <strong>easily</strong>, <strong>quickly</strong>, and <strong>securely</strong> online. Sign your own documents or invite others to sign.</p>
            <p class="hero-description">Unlimited signing and invites for $60 a year or $6 a month.</p>

            <a class="hero-button-primary" href="https://users.catalex.nz/auth/register?sign=true">Sign Up</a>
            <a class="hero-button-secondary" href="https://users.catalex.nz/auth/login">Login</a>
        </div>
    </div>

    <div class="container text-center sub-hero-heading">
        <h2>Why use CataLex Sign?</h2>
    </div>

    <div class="scroll-row odd">
        <section class="container">
            <div class="fade-container">
                <div class="row">
                    <div class="col-xs-12 col-md-9">
                        <div class="icon-outer">
                            <div class="icon-inner">
                                <i class="fa fa-thumbs-up"></i>
                            </div>
                        </div>
                        <div class="icon-pad">
                            <h3>Easy to use</h3>
                            <p>Upload your document, upload or draw your signature, and sign the document.  Works on any device.  No software download required.</p>
                        </div>
                    </div>
                    <div class="hidden-xs col-md-3">
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="scroll-row even">
        <section class="container">
            <div class="fade-container">
                <div class="row">
                    <div class="hidden-xs col-md-3">
                    </div>
                    <div class="col-xs-12 col-md-9">
                        <div class="icon-outer">
                            <div class="icon-inner">
                                <i class="fa fa-users"></i>
                            </div>
                        </div>
                        <div class="icon-pad">
                            <h3>Invite others to sign</h3>
                            <p>Invite as many people as you like to sign a document.  Add the names and email addresses of the signatories and CataLex Sign will send them a notification to sign the document.  You can add a personalised message to that notification.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="scroll-row odd">
        <section class="container">
            <div class="fade-container">
                <div class="row">
                    <div class="col-xs-12 col-md-9">
                        <div class="icon-outer">
                            <div class="icon-inner">
                                <i class="fa fa-paste"></i>
                            </div>
                        </div>
                        <div class="icon-pad">
                            <h3>Mark where others should sign</h3>
                            <p>Add text boxes to your document to clearly mark where recipients are to sign, initial, or date the document. You can also customise text boxes, for details like names and addresses.</p>
                        </div>
                    </div>
                    <div class="hidden-xs col-md-3"></div>
                </div>
            </div>
        </section>
    </div>


    <div class="scroll-row even">
        <section class="container">
            <div class="fade-container">
                <div class="row">
                    <div class="hidden-xs col-md-3"></div>
                    <div class="col-xs-12 col-md-9">
                        <div class="icon-outer">
                            <div class="icon-inner">
                                <i class="fa fa-envelope"></i>
                            </div>
                        </div>
                        <div class="icon-pad">
                            <h3>Get notifications along the way</h3>
                            <p>CataLex Sign will notify you when signatories sign or reject your document, and when your document has been fully signed.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="scroll-row odd">
        <section class="container">
            <div class="fade-container">
                <div class="row">
                    <div class="col-xs-12 col-md-9">
                        <div class="icon-outer">
                            <div class="icon-inner">
                                <i class="fa fa-upload"></i>
                            </div>
                        </div>
                        <div class="icon-pad">
                            <h3>Upload multiple documents for signing</h3>
                            <p>Create a document set with all the documents that you need to be signed.  Signatories can step through each document in a seamless execution process.</p>
                        </div>
                    </div>
                    <div class="hidden-xs col-md-3">
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="scroll-row even">
        <section class="container">
            <div class="fade-container">
                <div class="row">
                    <div class="hidden-xs col-md-3"></div>
                    <div class="col-xs-12 col-md-9">
                        <div class="icon-outer">
                            <div class="icon-inner">
                                <i class="fa fa-download"></i>
                            </div>
                        </div>
                        <div class="icon-pad">
                            <h3>Download and email signed documents</h3>
                            <p>Easily download signed documents or email them directly from CataLex Sign to one or more recipients.  A simple way to provide your signatories with a copy of the signed documents.<p>
                        </div>
                    </div>
                    <div class="hidden-xs col-md-3">
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="scroll-row odd">
        <section class="container">
            <div class="fade-container">
                <div class="row">
                    <div class="col-xs-12 col-md-9">
                        <div class="icon-outer">
                            <div class="icon-inner">
                                <i class="fa fa-lock"></i>
                            </div>
                        </div>
                        <div class="icon-pad">
                            <h3>Securely store PDFs</h3>
                            <p>Documents you have signed, invited others to sign, or that have been fully signed, are securely stored and easily accessible.</p>
                        </div>
                    </div>
                    <div class="hidden-xs col-md-3">
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="scroll-row even">
        <section class="container">
            <div class="fade-container">
                <div class="row">
                    <div class="hidden-xs col-md-3"></div>
                    <div class="col-xs-12 col-md-9">
                        <div class="icon-outer">
                            <div class="icon-inner">
                                <i class="fa fa-certificate"></i>
                            </div>
                        </div>
                        <div class="icon-pad">
                            <h3>Verify documents haven’t been changed</h3>
                            <p>Any person can verify that a document has been signed by uploading it to CataLex Sign.  If the document was not signed with CataLex or has been tampered with, the verification will fail.<p>
                        </div>
                    </div>
                    <div class="hidden-xs col-md-3">
                    </div>
                </div>
            </div>
        </section>
    </div>

    <%= require('ejs!./footer.ejs')() %>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-59849645-1', 'auto');
          ga('send', 'pageview');

        </script>

  </body>
</html>
