<!DOCTYPE html>
<html  lang="en">
 <%= require('ejs!./head.ejs')({htmlWebpackPlugin: htmlWebpackPlugin}) %>
  <body>
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5NXTBW3"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>


    <%= require('ejs!./header.ejs')({active: 'gc-faq'}) %>



<section>
<div class="container">
<h1>CataLex Good Companies</h1>
<h2>Frequently Asked Questions</h2>
<ol>


<li>
<span class="list-title">What is CataLex</span>
<p>
CataLex® – the legal catalyst (<a href="https://www.catalex.nz">www.catalex.nz</a>) - is a software company that develops innovative, Cloud-based solutions designed to make the law and legal services more accessible.  The founders, Thomas Bloy (CEO) and Tamina Cunningham-Adams, practice law through their virtual commercial law firm, Evolution Lawyers (<a href="https://www.evolutionlawyers.nz">www.evolutionlawyers.nz</a>).  The software is developed by Josh Gagnon (CTO) and his expert, Dunedin-based team.
</p>
</li>




</ol>

</div>

</section>


</body>

</html>