<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="description" content="CataLex - Reinventing Law"/>
  <link href="app.css" rel="stylesheet"></head>

  <body>

    <%= require('ejs!./header.ejs')({active: 'good-companies'}) %>
  <section class="top">


    </section>



    <%= require('ejs!./footer.ejs')() %>
  <script type="text/javascript" src="app.js"></script></body>
</html>