<!DOCTYPE html>
<html  lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="description" content="CataLex - Reinventing Law"/>
    <link rel="icon"
          type="image/png"
          href="/favicon.png">
<title><%= htmlWebpackPlugin.options.title %></title>
  <body>

    <%= require('ejs!./header.ejs')({active: 'index'}) %>

<section class="promo">

  <div class="container">
  <h1>Good Companies is here <a class="btn btn-primary" href="/good-companies.html">Click here to learn more</a></h1>

  </div>

</section>



  <section class="top">

    <div class="services container">
     <div class="row">

        <div class="col-md-6">
            <div class="service">
            <a href="/good-companies.html">
                 <i class="fa fa-briefcase"></i>
                <h4>Good Companies</h4>
                <p>
                    Takes care of a company’s disclosure and administrative requirements under the Companies Act 1993.
                </p>
                 </a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="service">
            <a href="/law-browser.html">
                 <i class="fa fa-search"></i>
                <h4>Law Browser</h4>
                <p>
                    Find law faster and easier than ever before.  Definition
                    recognition, automatic cross-references, side-by-side
                    browsing, and more!
                </p>
                 </a>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="service">
            <a href="http://workingdays.catalex.nz/">
                 <i class="fa fa-calendar"></i>
                <h4>Working Days</h4>
                <p>
                    Calculates legal deadlines based on common definitions of “working day”. 
                </p>
                 </a>
            </div>
        </div>

        <div class="col-md-6">
            <div class="service">
            <a href="https://concat.catalex.nz/">
                 <i class="fa fa-copy"></i>
                <h4>ConCat</h4>
                <p>
                    Concatenates (combines) PDF documents quickly and securely.
                </p>
                </a>
            </div>
        </div>

    </div>

    </div>

    </section>



<section class="description">

  <div class="container">
  <h1>CataLex | The Legal Catalyst</h1>
  <p>
At CataLex, we aim to re-invent law or, more accurately, how the public interacts with it. We believe that by combining technology and innovative thinking, legal services can be more accessible, cost-effective, understandable, and, most importantly, useful to business. CataLex is developing software to deliver those services to professionals and businesses, absent the traditional lawyer-client relationship.
  </p>
  </div>

</section>



    <%= require('ejs!./news.ejs')() %>


<section class="fb">
<div class="container">
<div  class="row">
 <div class="col-lg-6">
<div class="fb-container">
      <div id="fb-root" ></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-page" data-href="https://www.facebook.com/CataLex-1728497920712593/" data-tabs="timeline" data-width="500" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/CataLex-1728497920712593/"><a href="https://www.facebook.com/CataLex-1728497920712593/">CataLex</a></blockquote></div></div>
</div>

</div>

<div  class="col-lg-6">
<a class="twitter-timeline" data-width="500"  data-height="500" data-theme="light" href="https://twitter.com/catalexsoftware">Tweets by catalexsoftware</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
</div>
</div>
</section>


<section class="videos">
<div class="container">
  <h1>Our YouTube Channel</h1>
<div class="videoWrapper">
<iframe width="900" height="515" src="https://www.youtube.com/embed/C5NHA7mhLBQ?list=UUBEN5yyR23LOWQsmWCSiU4g" rel=0  frameborder="0" allowfullscreen></iframe>
</div>
</div>
</section>


  <section class="team">

  <div class="container">
  <h1>The Team</h1>
  <div class="row">
  <div class="col-md-4">

    <div class="person">
        <img src="images/thomas.jpg"/>
        <div class="name">Thomas Bloy</div>
        <div class="title">Director &amp; Co Founder</div>
        <div class="email"><a href="mailto:thomas@catalex.nz">thomas@catalex.nz</a></div>
        <div class="phone"><a href="tel:+64274538552">+64 27 453 8552</a></div>
    </div>
    </div>
  <div class="col-md-4">
    <div class="person">
        <img src="images/tamina.jpg"/>
        <div class="name">Tamina Cunningham-Adams</div>
        <div class="title">Director &amp; Co Founder</div>
        <div class="email"><a href="mailto:tamina@catalex.nz">tamina@catalex.nz</a></div>
        <div class="phone"><a href="tel:+64211515137">+64 21 151 5137</a></div>
    </div>
    </div>
  <div class="col-md-4">
    <div class="person">
        <img src="images/josh.jpg"/>
        <div class="name">Josh Gagnon</div>
        <div class="title">Chief Technology Officer</div>
        <div class="email"><a href="mailto:josh@catalex.nz">josh@catalex.nz</a></div>
    </div>
  </div>
  </div>





</section>




    <%= require('ejs!./footer.ejs')() %>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-59849645-1', 'auto');
          ga('send', 'pageview');

        </script>



  </body>
</html>