<section class="news">

  <div class="container">
  <div class="row">
  <div class="col-md-12">
  <h1>News & Media</h1>


    <ul>
        <li>
            <a class="headline" href="https://www.linkedin.com/pulse/sorry-westpac-pen-mightier-than-code-thomas-bloy">
                <span class="date">18 Sep 2017</span>
                Sorry Westpac, the Pen is not Mightier than the Code
            </a>
            <p class="subtitle">By Thomas Bloy</p>
    </li>

    <li>
    <a class="headline"
    href="https://catalex.nz/articles/FAQs%20-%20CataLex%20Good%20Companies.pdf">
    <span class="date">10 Jun 2017</span>CataLex Good Companies FAQs</a>
    </li>

    <li>
    <a class="headline"
    href="https://www.linkedin.com/pulse/would-you-like-pay-less-file-your-annual-return-thomas-bloy">
    <span class="date">9 Jun 2017</span>Would you like to pay less to file your annual return?</a>
    <p class="subtitle">CataLex Media Release</p>
    </li>





    <li>
    <a class="headline"
    href="http://www.nzherald.co.nz/business/news/article.cfm?c_id=3&objectid=11815691">
    <span class="date">13 Mar 2017</span>Software start-up CataLex helps firms keep their books above board</a>
    <p class="subtitle">The New Zealand Herald</p>
    </li>



    <li>
    <a class="headline"
    href="/articles/No%20Share%20Register%20-%20NZLJ%20Article.pdf">
    <span class="date">2 Mar 2017</span>No Share Register? No Problem.  Inferring the Existence of Non-Existent</a>
    <p class="subtitle">Case review by Thomas Bloy and Tamina Cunningham-Adams (reproduced with permission from the New Zealand Law Journal [2015] NZLJ 210)</p>
    </li>



    <li>
    <a class="headline"
    href="/articles/CataLex%20Good%20Companies%20Media%20Release%20-%2023%20Feb%202017.pdf">
    <span class="date">23 Feb 2017</span>CataLex Launches Good Companies for $12 per year</a>
    <p class="subtitle">CataLex Media Release</p>
    </li>




    <li>
    <a class="headline"
    href="https://www.lawsociety.org.nz/lawtalk/issue-898/beyond-pot-plants">
    <span class="date">6 Oct 2016</span>Beyond Pot Plants</a>
    <p class="subtitle">LawTalk Article by Thomas Bloy and Kieran Boyle</p>
    </li>

        <li>
    <a class="headline"
    href="https://www.companiesoffice.govt.nz/companies/news-updates/news/companies-office-develops-new-service">
    <span class="date">7 Sep 2016</span>Companies Office Develops Annual Return API</a>
    <p class="subtitle">Companies Office Media Release</p>
    </li>

        <li>
    <a class="headline"
    href="https://www.lawsociety.org.nz/lawtalk/issue-893/innovation-requires-more-than-new-pot-plants">
    <span class="date">28 Jul 2016</span>Innovation Requires More Than New Pot Plants</a>
    <p class="subtitle">LawTalk Article by Thomas Bloy and Kieran Boyle</p>
    </li>

  </ul>


  </div>
  </div>
  </div>

</section>

