<!DOCTYPE html>
<html  lang="en">
  <head>
      <%= require('ejs!./analytics.ejs')() %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="description" content="CataLex - Reinventing Law"/>
    <link rel="icon"
          type="image/png"
          href="/favicon.png">
          <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.5.10/iframeResizer.contentWindow.min.js"></script>
<title><%= htmlWebpackPlugin.options.title %></title>
  <body style="margin: 0;">
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5NXTBW3"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<section class="promo promo-iframe">

  <div class="container">
  <h1>Unlimited electronic signing for $60 a year <a class="btn btn-primary" target="_blank" href="/sign.html">Try CataLex Sign for Free</a></h1>

  </div>

</section>



  </body>
</html>