$header-height: 150px;
$header-height-sml: 75px;

nav.navbar{
    background-color: white;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.2);
    margin-bottom:0;
    img{
        max-width:100%;
    }
    @media (min-width: $screen-sm-min) {
      .navbar-nav{
            li{
                height: $header-height;
                a{
                    font-size: 24px;
                    height: $header-height;
                    line-height: $header-height;
                    display:inline-block;
                }
            }
        }

        a.navbar-brand{
            height: auto;
            img{
                margin-left:40px;
            }
        }

    }


    .navbar-nav{
        display:block;
        margin: 0;
        padding:0;
        list-style: none;

        li{
            display:block;
            padding: 0;
            a{
                color: $text-color;
                text-shadow:none;
                padding:0 24px;
                text-decoration:none;

            }
            &.active, &.active a,
            &:hover, &:hover a{
                background-color: $light-red;
                color: white;
            }
            &.active:hover, &.active:hover a{
                color: $white;
                background-color: $light-red;
            }
        }
    }

}