@import url('https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;subset=latin,cyrillic-ext,greek-ext,greek,vietnamese,latin-ext,cyrillic');

@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins";
// Reset and dependencies
@import "~catalex_shared/sass/catalex-vars";

//$btn-default-border: #A6171D;
//$input-border:    $btn-default-border;
//$list-group-border: $btn-default-border;
$header-image:url("../static/images/hero-bg-tall.jpg");
$light-red: rgb(197, 27, 36);
$light-gray: #efefef;
$label-color: $text-color;
$input-border-width: 2px;
$body-bg:  #fff;
$font-size-base: 17px;
$btn-primary-color: white;
$btn-primary-bg: $light-red;
$btn-primary-border: $light-red;
$gray-text: #756f6f;
$orange: #e74c3c;
$dark-bg: #2d2829;
$link-color: #4d8cc1;
$grid-float-breakpoint: 1201px;
$grid-float-breakpoint-max: 1200px;

@import "~bootstrap-sass/assets/stylesheets/bootstrap/normalize";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/grid";
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/glyphicons";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/forms";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/navbar";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/buttons";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/dropdowns";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/_component-animations.scss";


@import "~bootstrap-sass/assets/stylesheets/bootstrap/utilities";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/responsive-utilities";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/responsive-embed";

$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";
// @import "~catalex_shared/sass/catalex-header";
@import "~catalex_shared/sass/catalex-footer";

@import "header";
@import "newsletter";
@import "shame";
@import "sign";

p {
	line-height: 1.5em;
}