@import url('https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;subset=latin,cyrillic-ext,greek-ext,greek,vietnamese,latin-ext,cyrillic');

@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins";
// Reset and dependencies
@import "~catalex_shared/sass/catalex-vars";

//$btn-default-border: #A6171D;
//$input-border:    $btn-default-border;
//$list-group-border: $btn-default-border;
$header-image:url("../static/images/hero-bg-tall.jpg");
$light-red: rgb(197, 27, 36);
$light-gray: #efefef;
$label-color: $text-color;
$input-border-width: 2px;
$body-bg:  #fff;
$font-size-base: 17px;
$btn-primary-color: white;
$btn-primary-bg: $light-red;
$btn-primary-border: $light-red;
$gray-text: #756f6f;
$orange: #e74c3c;
@import "~bootstrap-sass/assets/stylesheets/bootstrap/normalize";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/grid";
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/glyphicons";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/forms";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/navbar";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/buttons";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/dropdowns";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/_component-animations.scss";


@import "~bootstrap-sass/assets/stylesheets/bootstrap/utilities";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/responsive-utilities";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/responsive-embed";
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";
@import "~catalex_shared/sass/catalex-header";
@import "~catalex_shared/sass/catalex-footer";

html {
  position: relative;
  min-height: 100%;
}


$section-padding: 20px;

body {
    font-family: Ubuntu,sans-serif;
  /* Margin bottom by footer height */
  -webkit-font-smoothing: antialiased;
}

h1{
    font-size: 2.2em;
    font-weight: 500;
}


.btn-primary {
    background-color: $orange;;
    border-color: $orange;
    transition:  all 0.5s ease-out;
}
.top,
.browser-hero{
    background: $deep-red $header-image repeat top center;

    color:white;
    text-align: center;
  padding:40px;
    .service{
        padding:40px;
        h3{
            margin-bottom:0px;
        }
        p{
            margin-top: 0;
        }
        .fa{
            font-size:4em;

        }
         transition: all 500ms ease-out;
        &:hover{
              transform: scale(1.1, 1.1);
        }
    }
    .good-companies{

        h1{
            margin-bottom:0;
        }
        h3{
            margin-top: 0;
        }
        h5{
            font-size: 1em;
        }
    }

     h1 {
        margin-bottom: 50px;
    }
    h2 {
        font-size: 50px;
        margin-bottom: 8px;
        color: inherit;

    }
    h4 {
        font-size: 2em;;
        margin: 12px;
    }
    .btn {
        font-size: 22px;
        width: 222px;
        padding-top: 11px;
        padding-bottom: 11px;
        margin: 0;
        color: inherit;
    }
    .slogan {
        font-size: 30px;
        margin-bottom: 62px;
    }
    img{
        max-width: 100%;
    }
    a{
        color:white;


        &:hover{
            text-decoration:none;
        }
    }
}

.description{
    text-align: center;
    color: $text-color;
    h1{
        font-weight:normal;
    }
    padding: $section-padding;
}

.fb{
    color:white;
    text-align: center;
    background-color: $text-color;
    h1{
        font-weight:normal;
    }
    min-height:600px;
       padding: $section-padding;
}

.team {
    text-align: center;
    color: $text-color;
    background-color: $light-gray;
    h1{
        font-weight:normal;
    }
    .person{
        img{
            max-width: 100%;
        }
        font-size:20px;
        a{
            text-decoration: none;
            color: $text-color;
        }
        .title{
            margin-bottom:10px;
        }
        .name {
            margin-top: 20px;
            font-weight: 500;
            font-size: 24px;
        }
        text-align:left;
        padding-bottom: 40px;
    }
    padding: $section-padding;
}




.odd {
    background-color: $light-gray;
    color: $text-color;
}
.even {
    background-color: white;
    color: $text-color;
}
.even .fa {
    color: $light-red;
}
.odd .fa {
    color: $text-color;
}
.odd +.even:before,
.even + .odd:before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    left: calc(50% - 54px);
    border-style: solid;
    border-width: 55px 54px 0 54px;
}
.even + .odd:before {
    border-color: #ffffff transparent transparent transparent;
}

.odd + .even:before {
    border-color: $light-gray transparent transparent transparent;
}



.scroll-row{
    overflow:hidden;
    section{
        padding:  70px 20px;
    }
    h2 {
        font-size: 40px;
        font-weight: 300;
        text-align: center;
        color: $light-red;
        margin-bottom: 80px;
    }
    h3 {
        font-size: 28px;
        margin: 0 0 10px;
        font-weight: 300;
    }
    .icon-inner {
        text-align:center;

    }
    .icon-pad {
        padding-left: 0px;
    }
    .fa{
        font-size: 130px;
    }

    @media (min-width: $screen-md-min) {
        section{
            padding: 80px;
        }

         h3 {
            font-size: 40px;
        }
        .icon-pad {
            padding-left: 186px;

         }
          .icon-inner {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
        .fa{
            font-size: 150px;
        }

    }
}



.fade-container.animate {
    opacity: 0;
    transition-property: opacity, margin-left, margin-right;
    transition-duration: 1300ms;
    transition-delay: 100ms;
}
.odd .fade-container.animate {
    margin-left: -200px;
    margin-right: 200px;
}
.even .fade-container.animate {
    margin-left: 200px;
    margin-right: -200px;
}
.fade-container.fade-in.animate {
    opacity: 1;
    margin-left: 0px;
    margin-right: 0px;
}


